In [240]:
import pandas as pd
import numpy
import matplotlib as plt
from pandas import DataFrame
import random

In [241]:
religion_df = pd.read_csv(".venv\\religions_csv\\national.csv")

religion_df.head()

,year,state,code,christianity_protestant,christianity_romancatholic,christianity_easternorthodox,christianity_anglican,christianity_other,christianity_all,judaism_orthodox,...,jainism_percent,confucianism_percent,syncretism_percent,animism_percent,noreligion_percent,otherreligion_percent,religion_sumpercent,total_percent,dual_religion,source_code
0,1945,United States of America,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,...,0.0,0.0,0.0,0.0,0.1635,0.0039,0.9961,1.0000,0,13
1,1950,United States of America,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,...,0.0,0.0,0.0,0.0,0.1482,0.0041,0.9959,1.0000,0,18
2,1955,United States of America,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,...,0.0,0.0,0.0,0.0,0.1404,0.0193,0.9807,0.9999,0,15
3,1960,United States of America,USA,90692928,50587880,3334535,2710065,2908939,150234347,973500,...,0.0,0.0,0.0,0.0,0.1193,0.0076,0.9924,0.9999,0,13
4,1965,United States of America,USA,94165803,64761783,4792868,2822149,973155,167515758,991200,...,0.0,0.0,0.0,0.0,0.1020,0.0030,0.9970,1.0001,0,20

In [242]:
religion_df.shape

(1995, 79)

In [243]:
religion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          1995 non-null   int64
 1   state                         1995 non-null   object
 2   code                          1995 non-null   object
 3   christianity_protestant       1995 non-null   int64
 4   christianity_romancatholic    1995 non-null   int64
 5   christianity_easternorthodox  1995 non-null   int64
 6   christianity_anglican         1995 non-null   int64
 7   christianity_other            1995 non-null   int64
 8   christianity_all              1995 non-null   int64
 9   judaism_orthodox              1995 non-null   int64
 10  judaism_conservative          1995 non-null   int64
 11  judaism_reform                1993 non-null   float64
 12  judaism_other                 1995 non-null   int64
 13  judaism_all                   1995 non-null   int64
 14  islam_sunni                   1995 non-null   int64
 15  islam_shi’a                   1995 non-null   int64
 16  islam_ibadhi                  1995 non-null   int64
 17  islam_nationofislam           1995 non-null   int64
 18  islam_alawite                 1995 non-null   int64
 19  islam_ahmadiyya               1995 non-null   int64
 20  islam_other                   1992 non-null   float64
 21  islam_all                     1995 non-null   int64
 22  buddhism_mahayana             1995 non-null   int64
 23  buddhism_theravada            1995 non-null   int64
 24  buddhism_other                1995 non-null   int64
 25  buddhism_all                  1995 non-null   int64
 26  zoroastrianism_all            1995 non-null   int64
 27  hinduism_all                  1995 non-null   int64
 28  sikhism_all                   1995 non-null   int64
 29  shinto_all                    1995 non-null   int64
 30  baha’i_all                    1995 non-null   int64
 31  taoism_all                    1995 non-null   int64
 32  jainism_all                   1995 non-null   int64
 33  confucianism_all              1995 non-null   int64
 34  syncretism_all                1995 non-null   int64
 35  animism_all                   1995 non-null   int64
 36  noreligion_all                1995 non-null   int64
 37  otherreligion_all             1995 non-null   int64
 38  religion_all                  1995 non-null   int64
 39  population                    1995 non-null   int64
 40  protestant_percent            1995 non-null   float64
 41  romancatholic_percent         1995 non-null   float64
 42  easternorthodox_percent       1995 non-null   float64
 43  anglican_percent              1995 non-null   float64
 44  otherchristianity_percent     1995 non-null   float64
 45  christianity_percent          1995 non-null   float64
 46  orthodox_percent              1995 non-null   float64
 47  conservative_percent          1995 non-null   float64
 48  reform_percent                1995 non-null   float64
 49  otherjudaism_percent          1995 non-null   float64
 50  judaism_percent               1995 non-null   float64
 51  sunni_percent                 1995 non-null   float64
 52  shi’a_percent                 1995 non-null   float64
 53  ibadhi_percent                1995 non-null   float64
 54  nationofislam_percent         1995 non-null   int64
 55  alawite_percent               1995 non-null   float64
 56  ahmadiyya_percent             1995 non-null   float64
 57  otherislam_percent            1995 non-null   float64
 58  islam_percent                 1995 non-null   float64
 59  mahayana_percent              1995 non-null   float64
 60  theravada_percent             1995 non-null   float64
 61  otherbuddhism_percent         1995 non-null   float64
 62  buddhism_percent              1995 non-null   float64
 63  zoroastrianism_percent        1995 non-null   float64
 64  hinduism_percent              1995 non-null   float64
 65  sikhism_percent               1995 non-null   float64
 66  shinto_percent                1995 non-null   float64
 67  baha’i_percent                1995 non-null   float64
 68  taoism_percent                1995 non-null   float64
 69  jainism_percent               1995 non-null   float64
 70  confucianism_percent          1995 non-null   float64
 71  syncretism_percent            1995 non-null   float64
 72  animism_percent               1995 non-null   float64
 73  noreligion_percent            1995 non-null   float64
 74  otherreligion_percent         1995 non-null   float64
 75  religion_sumpercent           1995 non-null   float64
 76  total_percent                 1995 non-null   float64
 77  dual_religion                 1995 non-null   int64
 78  source_code                   1995 non-null   int64
dtypes: float64(38), int64(39), object(2)
memory usage: 1.2+ MB

In [244]:
religion_df["year"].value_counts()

year
2010    194
2005    192
2000    191
1995    187
1990    164
1985    160
1980    157
1975    149
1970    138
1965    125
1960    111
1955     86
1950     76
1945     65
Name: count, dtype: int64

In [245]:
religion_df.columns

Index(['year', 'state', 'code', 'christianity_protestant',
       'christianity_romancatholic', 'christianity_easternorthodox',
       'christianity_anglican', 'christianity_other', 'christianity_all',
       'judaism_orthodox', 'judaism_conservative', 'judaism_reform',
       'judaism_other', 'judaism_all', 'islam_sunni', 'islam_shi’a',
       'islam_ibadhi', 'islam_nationofislam', 'islam_alawite',
       'islam_ahmadiyya', 'islam_other', 'islam_all', 'buddhism_mahayana',
       'buddhism_theravada', 'buddhism_other', 'buddhism_all',
       'zoroastrianism_all', 'hinduism_all', 'sikhism_all', 'shinto_all',
       'baha’i_all', 'taoism_all', 'jainism_all', 'confucianism_all',
       'syncretism_all', 'animism_all', 'noreligion_all', 'otherreligion_all',
       'religion_all', 'population', 'protestant_percent',
       'romancatholic_percent', 'easternorthodox_percent', 'anglican_percent',
       'otherchristianity_percent', 'christianity_percent', 'orthodox_percent',
       'conservative_percent', 'reform_percent', 'otherjudaism_percent',
       'judaism_percent', 'sunni_percent', 'shi’a_percent', 'ibadhi_percent',
       'nationofislam_percent', 'alawite_percent', 'ahmadiyya_percent',
       'otherislam_percent', 'islam_percent', 'mahayana_percent',
       'theravada_percent', 'otherbuddhism_percent', 'buddhism_percent',
       'zoroastrianism_percent', 'hinduism_percent', 'sikhism_percent',
       'shinto_percent', 'baha’i_percent', 'taoism_percent', 'jainism_percent',
       'confucianism_percent', 'syncretism_percent', 'animism_percent',
       'noreligion_percent', 'otherreligion_percent', 'religion_sumpercent',
       'total_percent', 'dual_religion', 'source_code'],
      dtype='object')

In [246]:
values_todrop = [1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 2000, 2005]

religion_df = religion_df[~religion_df['year'].isin(values_todrop)]

religion_df.head()

,year,state,code,christianity_protestant,christianity_romancatholic,christianity_easternorthodox,christianity_anglican,christianity_other,christianity_all,judaism_orthodox,...,jainism_percent,confucianism_percent,syncretism_percent,animism_percent,noreligion_percent,otherreligion_percent,religion_sumpercent,total_percent,dual_religion,source_code
13,2010,United States of America,USA,119755961,78397889,7036875,4847625,23072957,233111307,1051778,...,0.0003,0.0003,0.0026,0.0057,0.1900,0.0025,0.9975,1.0000,0,25
27,2010,Canada,CAN,7929127,14497030,785000,2722447,497500,26431104,68061,...,0.0001,0.0001,0.0008,0.0021,0.1643,0.0010,0.9990,1.0000,0,26
35,2010,Bahamas,BHM,211798,43863,0,46996,0,302657,0,...,0.0000,0.0000,0.0000,0.0032,0.0290,0.0005,0.9995,1.0000,0,83
49,2010,Cuba,CUB,550000,6744696,0,0,112411,7407107,0,...,0.0000,0.0000,0.5000,0.0000,0.1315,0.0000,1.2935,1.2934,1,78
63,2010,Haiti,HAI,976083,7027799,0,0,0,8003882,0,...,0.0000,0.0000,0.4500,0.0000,0.1000,0.0000,1.3711,1.3711,1,1

In [247]:
religion_df.columns = religion_df.columns.str.title()

religion_df.columns

Index(['Year', 'State', 'Code', 'Christianity_Protestant',
       'Christianity_Romancatholic', 'Christianity_Easternorthodox',
       'Christianity_Anglican', 'Christianity_Other', 'Christianity_All',
       'Judaism_Orthodox', 'Judaism_Conservative', 'Judaism_Reform',
       'Judaism_Other', 'Judaism_All', 'Islam_Sunni', 'Islam_Shi’A',
       'Islam_Ibadhi', 'Islam_Nationofislam', 'Islam_Alawite',
       'Islam_Ahmadiyya', 'Islam_Other', 'Islam_All', 'Buddhism_Mahayana',
       'Buddhism_Theravada', 'Buddhism_Other', 'Buddhism_All',
       'Zoroastrianism_All', 'Hinduism_All', 'Sikhism_All', 'Shinto_All',
       'Baha’I_All', 'Taoism_All', 'Jainism_All', 'Confucianism_All',
       'Syncretism_All', 'Animism_All', 'Noreligion_All', 'Otherreligion_All',
       'Religion_All', 'Population', 'Protestant_Percent',
       'Romancatholic_Percent', 'Easternorthodox_Percent', 'Anglican_Percent',
       'Otherchristianity_Percent', 'Christianity_Percent', 'Orthodox_Percent',
       'Conservative_Percent', 'Reform_Percent', 'Otherjudaism_Percent',
       'Judaism_Percent', 'Sunni_Percent', 'Shi’A_Percent', 'Ibadhi_Percent',
       'Nationofislam_Percent', 'Alawite_Percent', 'Ahmadiyya_Percent',
       'Otherislam_Percent', 'Islam_Percent', 'Mahayana_Percent',
       'Theravada_Percent', 'Otherbuddhism_Percent', 'Buddhism_Percent',
       'Zoroastrianism_Percent', 'Hinduism_Percent', 'Sikhism_Percent',
       'Shinto_Percent', 'Baha’I_Percent', 'Taoism_Percent', 'Jainism_Percent',
       'Confucianism_Percent', 'Syncretism_Percent', 'Animism_Percent',
       'Noreligion_Percent', 'Otherreligion_Percent', 'Religion_Sumpercent',
       'Total_Percent', 'Dual_Religion', 'Source_Code'],
      dtype='object')

In [248]:
religion_df = religion_df.reset_index(drop=True)

religion_df.head()

,Year,State,Code,Christianity_Protestant,Christianity_Romancatholic,Christianity_Easternorthodox,Christianity_Anglican,Christianity_Other,Christianity_All,Judaism_Orthodox,...,Jainism_Percent,Confucianism_Percent,Syncretism_Percent,Animism_Percent,Noreligion_Percent,Otherreligion_Percent,Religion_Sumpercent,Total_Percent,Dual_Religion,Source_Code
0,2010,United States of America,USA,119755961,78397889,7036875,4847625,23072957,233111307,1051778,...,0.0003,0.0003,0.0026,0.0057,0.1900,0.0025,0.9975,1.0000,0,25
1,2010,Canada,CAN,7929127,14497030,785000,2722447,497500,26431104,68061,...,0.0001,0.0001,0.0008,0.0021,0.1643,0.0010,0.9990,1.0000,0,26
2,2010,Bahamas,BHM,211798,43863,0,46996,0,302657,0,...,0.0000,0.0000,0.0000,0.0032,0.0290,0.0005,0.9995,1.0000,0,83
3,2010,Cuba,CUB,550000,6744696,0,0,112411,7407107,0,...,0.0000,0.0000,0.5000,0.0000,0.1315,0.0000,1.2935,1.2934,1,78
4,2010,Haiti,HAI,976083,7027799,0,0,0,8003882,0,...,0.0000,0.0000,0.4500,0.0000,0.1000,0.0000,1.3711,1.3711,1,1

In [249]:
religion_df.columns

Index(['Year', 'State', 'Code', 'Christianity_Protestant',
       'Christianity_Romancatholic', 'Christianity_Easternorthodox',
       'Christianity_Anglican', 'Christianity_Other', 'Christianity_All',
       'Judaism_Orthodox', 'Judaism_Conservative', 'Judaism_Reform',
       'Judaism_Other', 'Judaism_All', 'Islam_Sunni', 'Islam_Shi’A',
       'Islam_Ibadhi', 'Islam_Nationofislam', 'Islam_Alawite',
       'Islam_Ahmadiyya', 'Islam_Other', 'Islam_All', 'Buddhism_Mahayana',
       'Buddhism_Theravada', 'Buddhism_Other', 'Buddhism_All',
       'Zoroastrianism_All', 'Hinduism_All', 'Sikhism_All', 'Shinto_All',
       'Baha’I_All', 'Taoism_All', 'Jainism_All', 'Confucianism_All',
       'Syncretism_All', 'Animism_All', 'Noreligion_All', 'Otherreligion_All',
       'Religion_All', 'Population', 'Protestant_Percent',
       'Romancatholic_Percent', 'Easternorthodox_Percent', 'Anglican_Percent',
       'Otherchristianity_Percent', 'Christianity_Percent', 'Orthodox_Percent',
       'Conservative_Percent', 'Reform_Percent', 'Otherjudaism_Percent',
       'Judaism_Percent', 'Sunni_Percent', 'Shi’A_Percent', 'Ibadhi_Percent',
       'Nationofislam_Percent', 'Alawite_Percent', 'Ahmadiyya_Percent',
       'Otherislam_Percent', 'Islam_Percent', 'Mahayana_Percent',
       'Theravada_Percent', 'Otherbuddhism_Percent', 'Buddhism_Percent',
       'Zoroastrianism_Percent', 'Hinduism_Percent', 'Sikhism_Percent',
       'Shinto_Percent', 'Baha’I_Percent', 'Taoism_Percent', 'Jainism_Percent',
       'Confucianism_Percent', 'Syncretism_Percent', 'Animism_Percent',
       'Noreligion_Percent', 'Otherreligion_Percent', 'Religion_Sumpercent',
       'Total_Percent', 'Dual_Religion', 'Source_Code'],
      dtype='object')

In [250]:
rel_cols_to_drop = ['Christianity_Romancatholic', 'Christianity_Protestant','Christianity_Easternorthodox', 'Christianity_Anglican', 'Christianity_Other',
                    'Judaism_Orthodox', 'Judaism_Conservative', 'Judaism_Reform', 'Judaism_Other',
                    'Islam_Sunni', 'Islam_Shi’A','Islam_Ibadhi', 'Islam_Nationofislam', 'Islam_Alawite','Islam_Ahmadiyya', 'Islam_Other',
                    'Buddhism_Mahayana','Buddhism_Theravada', 'Buddhism_Other',
                    'Protestant_Percent','Romancatholic_Percent', 'Easternorthodox_Percent', 'Anglican_Percent', 
                    'Otherchristianity_Percent', 'Christianity_Percent', 'Orthodox_Percent',
                    'Conservative_Percent', 'Reform_Percent', 'Otherjudaism_Percent',
                    'Judaism_Percent', 'Sunni_Percent', 'Shi’A_Percent', 'Ibadhi_Percent',
                    'Nationofislam_Percent', 'Alawite_Percent', 'Ahmadiyya_Percent',
                    'Otherislam_Percent', 'Islam_Percent', 'Mahayana_Percent',
                    'Theravada_Percent', 'Otherbuddhism_Percent', 'Buddhism_Percent',
                    'Zoroastrianism_Percent', 'Hinduism_Percent', 'Sikhism_Percent',
                    'Shinto_Percent', 'Baha’I_Percent', 'Taoism_Percent', 'Jainism_Percent',
                    'Confucianism_Percent', 'Syncretism_Percent', 'Animism_Percent',
                    'Noreligion_Percent', 'Otherreligion_Percent', 'Religion_Sumpercent',
                    'Total_Percent', 'Dual_Religion', 'Source_Code'
                    ]

religion_df = religion_df.drop(columns = rel_cols_to_drop)

In [252]:
religion_df.head()

,Year,State,Code,Christianity_All,Judaism_All,Islam_All,Buddhism_All,Zoroastrianism_All,Hinduism_All,Sikhism_All,...,Baha’I_All,Taoism_All,Jainism_All,Confucianism_All,Syncretism_All,Animism_All,Noreligion_All,Otherreligion_All,Religion_All,Population
0,2010,United States of America,USA,233111307,5942248,2814750,3410236,1644887,1797698,406908,...,482784,11768,83984,91591,803181,1773577,59422500,796206,311953794,312750000
1,2010,Canada,CAN,26431104,340304,670000,670000,6130,275000,275000,...,18945,3620,3320,2700,27000,70861,5670000,35101,34464899,34500000
2,2010,Bahamas,BHM,302657,305,0,0,0,0,0,...,0,93,0,0,0,1018,9086,153,313159,313312
3,2010,Cuba,CUB,7407107,1500,8000,0,0,25000,0,...,0,0,0,0,5620580,0,1478290,0,14540477,11241161
4,2010,Haiti,HAI,8003882,120,1750,0,0,0,0,...,8527,0,0,0,4392374,0,976083,0,13382736,9760832

In [253]:
religion_df.columns

Index(['Year', 'State', 'Code', 'Christianity_All', 'Judaism_All', 'Islam_All',
       'Buddhism_All', 'Zoroastrianism_All', 'Hinduism_All', 'Sikhism_All',
       'Shinto_All', 'Baha’I_All', 'Taoism_All', 'Jainism_All',
       'Confucianism_All', 'Syncretism_All', 'Animism_All', 'Noreligion_All',
       'Otherreligion_All', 'Religion_All', 'Population'],
      dtype='object')

In [254]:
print(religion_df.isnull().any().any())

False

In [234]:
christian_rel = religion_df.groupby('State')['Christianity_All'].sum()

top_christian = christian_rel.idxmax()

print(top_christian)

United States of America

In [258]:
judaism_rel = religion_df.groupby('State')['Judaism_All'].sum()

top_judaism = judaism_rel.sort_values(ascending= False)

print(top_judaism)

State
United States of America    5942248
Israel                      5573299
France                       480000
Canada                       340304
Argentina                    275000
                             ...
Tuvalu                            0
United Arab Emirates              0
Vanuatu                           0
Vietnam                           0
Yemen                             0
Name: Judaism_All, Length: 194, dtype: int64